services:
  fel_argailo:
    deploy:
      resources:
        limits:
          memory: 2048M
        reservations:
          memory: 1024M
    build:
      context: .
      dockerfile: Dockerfile
    restart: unless-stopped
    volumes:
        - .:/FelArgailo
    container_name: fel_argailo_container